@import "./_reset.css";
@import "./_utopia.css";

:root {
  font-family: "Crimson Text", serif;

  /* font-size: var(--step-0); */
  font-size: var(--step-1);
}
body {
  background: #f7fff7;
  background: #f9f9f9;
  color: #1a535c;
  color: black;
}
a {
  color: black;
}
main {
  max-width: 95%;
  width: 45rem;
  margin: 0 auto;
}
nav {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  line-height: 1;
  font-size: var(--step--1);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.25rem 1rem;
  /* background: black; */
  /* color: white; */
  display: inline-block;
  font-family: "Inter", sans-serif;
}
nav a {
  text-decoration: none;
  /* color: white; */
}
nav img {
  width: 1rem;
  height: 1rem;
  line-height: 1;
}
/* nav .arrow {
  border-radius: 50%;
  background: white;
  color: black;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  text-align: center;
  vertical-align: middle;
  line-height: 1;
  font-weight: bold;
} */
main {
}
section.article {
}
article {
  width: 25rem;
  max-width: 100%;
  margin: 0 auto;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: var(--step-4);
  text-align: center;
  line-height: 1.2;
  margin: 3rem 0 2rem;
}

/*
 ____  ____   ___   ____    ____  ________
|_   ||   _|.'   `.|_   \  /   _||_   __  |
  | |__| | /  .-.  \ |   \/   |    | |_ \_|
  |  __  | | |   | | | |\  /| |    |  _| _
 _| |  | |_\  `-'  /_| |_\/_| |_  _| |__/ |
|____||____|`.___.'|_____||_____||________|
 */

.home-page {
  /* display: flex; */
  /* align-content: stretch; */
  /* justify-content: center; */
  width: 30rem;
  max-width: 95%;
  margin: 0 auto;
}
.home-page h2 {
  /* line-height: 1.2; */
  /* text-align: center; */
  /* background: black; */
  /* color: white; */
  /* border-radius: 0.5rem; */
  margin: 0;
  margin-bottom: 0.25rem;
}
.home-page section {
  margin-bottom: 1rem;
}
.home-page .work {
  /* background: pink; */
  /* margin-right: 0.5rem; */
  padding-right: 0.5rem;
  flex: 1 1 60%;
}
.home-page .play {
  /* background: orange; */
  /* margin-left: 0.5rem; */
  padding-left: 0.5rem;
  /* font-family: "Inter", sans-serif;
  font-weight: 100; */
  flex: 1 1 40%;
}
ul.posts {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 1em;
}
ul.posts li:before {
  content: "\2022";
  opacity: 0.5;
  padding: 0 0.5rem 0 0.5rem;
  margin: 0;
  transition: opacity 0.75s;
}
ul.posts li:hover:before {
  opacity: 1;
}
p.description {
  display: none;
}
.hire-me {
  /* flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 15rem; */
  background: #1a535c;
  background: #dfdfdf;
  padding: 1rem;
  color: white;
  color: #1a535c;
}

ul.roles {
  display: flex;
  align-content: stretch;
  align-items: stretch;
  flex-wrap: auto;
}
ul.roles li {
  background: white;
  margin-left: 1rem;
  padding: 1rem;
  font-size: var(--step--1);
}
ul.roles li:first-child {
  margin-left: 0;
}

.career-timeline {
  font-family: "Inter", sans-serif;
  display: grid;
  grid-template-columns: [year-start] min-content [year-end] 1rem [slot-1-start] 5fr [slot-1-end slot-2-start] 5fr [slot-2-end slot-3-start] 5fr [slot-3-end] 1.5rem [duration-start] 1fr [duration-end] 1.5rem [slot-4-start] 5fr [slot-4-end slot-5-start] 5fr [slot-5-end slot-6-start] 5fr [slot-6-end] 1rem;
  /* grid-template-columns: 0.5rem [year-start] 2.5rem [year-end duration-start ] 1fr [duration-end slot-1-start] 5fr [slot-1-end slot-2-start] 5fr [slot-2-end slot-3-start] 5fr [slot-3-end slot-4-start] 5fr [slot-4-end slot-5-start] 5fr [slot-5-end slot-6-start] 5fr [slot-6-end] 0.5em; */
  grid-template-rows: repeat(101, 1.5rem);
  margin-top: 2rem;
}
.year-label {
  /* background: #eee; */
  color: #ccc;
  grid-column: year-start / year-end;
  font-size: var(--step--2);
  /* background: yellow; */
}
.year-line {
  grid-column-start: 1;
  grid-column-end: -1;
  border-bottom: 0.2rem dotted #ccc;
  border-bottom: 2px dotted #ddd;
}
.year-label-2020,
.year-line-2020 {
  grid-row: 1 / 2;
}
.year-label-2019,
.year-line-2019 {
  grid-row: 5 / 6;
}
.year-label-2018,
.year-line-2018 {
  grid-row: 9 / 10;
}
.year-label-2017,
.year-line-2017 {
  grid-row: 13 / 14;
}
.year-label-2016,
.year-line-2016 {
  grid-row: 17 / 18;
}
.year-label-2015,
.year-line-2015 {
  grid-row: 21 / 22;
}
.year-label-2014,
.year-line-2014 {
  grid-row: 25 / 26;
}
.year-label-2013,
.year-line-2013 {
  grid-row: 29 / 30;
}
.year-label-2012,
.year-line-2012 {
  grid-row: 33 / 34;
}
.year-label-2011,
.year-line-2011 {
  grid-row: 37 / 38;
}
.year-label-2010,
.year-line-2010 {
  grid-row: 41 / 42;
}
.year-label-2009,
.year-line-2009 {
  grid-row: 45 / 46;
}
.year-label-2008,
.year-line-2008 {
  grid-row: 49 / 50;
}
.year-label-2007,
.year-line-2007 {
  grid-row: 53 / 54;
}
.year-label-2006,
.year-line-2006 {
  grid-row: 57 / 58;
}
.year-label-2005,
.year-line-2005 {
  grid-row: 61 / 62;
}
.year-label-2004,
.year-line-2004 {
  grid-row: 65 / 66;
}
.year-label-2003,
.year-line-2003 {
  grid-row: 69 / 70;
}
.year-label-2002,
.year-line-2002 {
  grid-row: 73 / 74;
}
.year-label-2001,
.year-line-2001 {
  grid-row: 77 / 78;
}
.year-label-2000,
.year-line-2000 {
  grid-row: 81 / 82;
}
.year-label-1999,
.year-line-1999 {
  grid-row: 85 / 86;
}
.year-label-1998,
.year-line-1998 {
  grid-row: 89 / 90;
}
.year-label-1997,
.year-line-1997 {
  grid-row: 93 / 94;
}
.year-label-1996,
.year-line-1996 {
  grid-row: 97 / 98;
}
.year-label-1995,
.year-line-1995 {
  grid-row: 101 / 102;
}

.duration {
  grid-column: duration-start / duration-end;
}
.summary {
  font-size: var(--step--2);
  line-height: 1.3;
  padding: 0.5rem;
}
.duration-flanghorn {
  background: #ffc100;
  grid-row: 1 / 16;
}
.summary-flanghorn {
  background: rgba(255, 242, 204, 0.6);
  grid-column: slot-1-start / slot-3-end;
  grid-row: 1 / 15;
}
.duration-yarn {
  background: orange;
  grid-row: 16 / 20;
}
.summary-yarn {
  background: rgba(255, 246, 229, 0.6);
  grid-column: slot-4-start / slot-6-end;
  grid-row: 5 / 19;
}
.duration-knewton {
  background: yellow;
  grid-row: 20 / 27;
}
.duration-opensky {
  background: blue;
  grid-row: 28 / 41;
}
.duration-flavors {
  background: brown;
  grid-row: 41 / 43;
}
.duration-meetup {
  background: #c33;
  grid-row: 45 / 69;
}
