<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    {% include "head.njk" %}
  </head>

  <body
  data-img-src="{{ page.inputPath | dirname }}/"
  data-img-dist="{{ page.outputPath | dirname }}/"
>
    <div class="page">
      {% if page.url == '/' %}
        <h1 class="sitelogo">{{ pkg.title }}</h1>
      {% else %}
        <p class="sitelogo">
          <a href="/">{{ pkg.title }}</a>
        </p>
      {% endif %}

      <main role="main">
        {% block content %}
          {{ content | safe }}
        {% endblock %}
      </main>
    </div>
    {% include "components/footer.njk" %}

    <link rel="stylesheet" href="/css/{{ hashes_css['additional.css'] }}"/>

    {#
https://buzut.net/configurer-rollup-bundles-esm-cjs/
https://v8.dev/features/modules#browser
#}
    <script async type="module" src="/js/{{ hashes_additional_es['src/_assets/js/additional.js']}}"></script>
    <script async nomodule src="/js/{{ hashes_additional_iife['src/_assets/js/additional.js']}}"></script>
  </body>

</html>