---
title: Derek Odegard
navtitle: Home
navorder: 1
---
<article class="home-page">
  {# <header>
    <h1>Derek Odegard</h1>
  </header> #}
  <section>
    <p>I live and work in Astoria, NY. Since 1996, I've started companies and helped other people start companies that built delightful products on the Internet: Schwa, Meetup, Flavors.me, OpenSky, Yarn, and Plickety Switch. Some succeeded, some failed; I'm proud of all of them.</p>
  </section>
  <section>
    <h2>On Building</h2>
    <a href="/career-timeline/">Work History: A Timeline</a>
  </section>
  <section>
    <h2>On Life</h2>
    <ul class="posts">
      <li>
        <a href="">A post, sort of</a>
      </li>
    </ul>
  </section>
</article>